name: MAUI Unit Tests

on:
  push:
    branches:
      - main
      - feature/*
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Install MAUI workloads
        run: dotnet workload install maui-android

      - name: Restore dependencies
        run: dotnet restore

      - name: Build Android app
        run: dotnet build Grocery.App/Grocery.App.csproj --configuration Release --no-restore

      - name: Run unit tests
        run: dotnet test TestCore/TestCore.csproj --framework net8.0-android --configuration Release --no-build --verbosity normal
       
      - name: Voer unit tests uit
        run: dotnet test Grocery.sln
